*
{
    margin: 0;
    padding: 0; 
  overflow-x: hidden; 

}
header
{
  background-color: #984447;
    
    background-size: cover;

}

header img{

padding-top: 15%;
padding-bottom: 10%;

}

body {
  background-color: #27476E;
  /*background-color: #FFFFF1;*/
  
}

.main-nav
{
  float: right;
    list-style: none;
    margin-top: 30px;
    
  
}

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
  color:white;
    text-decoration: none;
    padding: 5px 20px;
    font-family:"Century Gothic",Calibri;
    font-size: 15px;
}

.main-nav Li.active a
{
    border: 1px solid white; 
}

.main-nav li a:hover
{
    border: 1px solid white;
}

.logo img
{
  width:150px;
height: auto;
    float: left;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;

}
 


body
{
    font-family:Century Gothic;
}

.MainImg img{

  width:250px;
  height: 150px;

}





.row
{
    max-width: 1200px;
    margin:auto;
}
.hero
{
   position: absolute;
    width: 1200px;
    margin-left: 0;
    margin-top: 0;
}

h1
{
   color: white;
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px; 


} 

h2{
color:white;
    text-transform: uppercase;
    font-size: 55px;
    text-align: center;
    margin-top: 40px;
    opacity: 100%;  
    padding-bottom: 70px;  

}


h3{
  color: white;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 50px; 
  text-transform: uppercase;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  display:block;
  position: fixed; 
  width: 100%; 


}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding:20px; 
  text-decoration: none;
  font-size: 20px; 
 
}


.topnav a:hover {
  background-color:black;
  color: orange;
}


.topnav a.active {
  background-color:orange;
  color: white;
}

.imageclass { 

  width:200px; 
  height:200px;
  border-radius:50%;
   padding: 70px; 

 

 }

 iframe{

  padding-bottom: 40px;
 }


#featured-images {
  display:grid;
  grid-template-columns:30% ;
 grid-row-gap:95%;
 padding-right: 10px;
quotes: 100px;
padding-bottom: 1px;


}


}

.row1 {
text-align:center;
padding:20px;
padding-bottom:10px;

}

.row2 {
display:flex;
justify-content:space-around;
padding-top:40px;
}
 
 .imageClass2{
    height: 30px;
    width: 30px;


}*/

/*.pics{
  display: flex;
  grid-template-rows: auto;
  grid-template-columns: 40% 40%
  align-items:center;
  justify-content: center;
  grid-gap: 10px;
}*/

/*.pics{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 30% 30% 30%
  align-items:start;
  justify-content: space-around;
  grid-gap: 25px;
  margin-left: 10%
}*/

img{
  width: 100%;
  border-radius:50%;
}

*{
  font-family:"century gothic";
}



label{
  color: white;
}

input::placeholder{
  color:black;
}

input[type=text], input[type=Password], input[type=rate] {
  color:black;
  background-color:white;  

  width: 30%;
  border: none;
  border-bottom: 4px  solid; 
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
}

.btns{
  text-align: center;
  margin-top: 30px;  
  padding-bottom: 30px;

}


.btns input{
  background-color:#3A469C;
  border: white 1px solid;
  padding: 20px;
  color: white;
  margin-right: 20px; 
font-size:15px; 


}


input [type=Submit] {
  background-repeat: no-repeat;
  background-size: 50px 50px;
  width: 100px;
  height: 100px; 

}

input[type=text]:focus,input[type=rate]:focus,input[type=Message]:focus {
  outline: none;
}

strong a{
  text-decoration: none;
  color: white;
  font-size: 40px;
}

.call{
  height: 39px;
  width: 39px;
  margin-right:14px;
}
.direct{
  height: 10px;
}

.ad{
padding: 20px;

}